form {
  align-items: center;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  text-align: center;
}

.concept-input {
    border: none;
    border-radius: 3px;
    font-size: 30px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.concept-input:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt #00ecec;
}
.concept-input::placeholder {
  color: #b5b5b5;
}
.concept-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b5b5b5;
}
.concept-input::-moz-placeholder { /* Firefox 19+ */
  color: #b5b5b5;
}
.concept-input:-ms-input-placeholder { /* IE 10+ */
  color: #b5b5b5;
}
.concept-input:-moz-placeholder { /* Firefox 18- */
  color: #b5b5b5;
}

.concept-submit {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  width: 25%;
  top: 20px;
}

.concept-submit:hover {
  cursor: pointer;
  border: 1px solid #aaa;
}

.concept-submit:focus {
  outline: none;
}
