.admin-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.63);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background 1s ease;
}

.adminForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

.login-controls {
  position: absolute;
  right: 5px;
}

.login-controls  button {
  width: 100px;
}

button {
    border: none;
    background: white;
    padding: 10px;
    margin-top: 5px;
    background: #18c7c7;
    color: white;
}

button:hover {
  cursor: pointer;
}

button.close-form {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.46);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding: 0px;
    color: rgba(255,255,255,0.5);
    margin-left: 100%;
    margin-bottom: 10px;
}

button.close-form:hover {
  color: rgba(255,255,255,1);
  border: 1px solid rgba(255, 255, 255, 1);
}
